.mainContainer {
  padding: 1em;
}
.headerTitle {
  padding: 0 1em 0.8em;
  display: flex;
  justify-content: space-between;
}
.headerTitle > span:nth-child(2) {
  font-size: 12px;
  color: #989898;
}
/* grid design start */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2.5em;
  padding: 0 1em;
}

/* styling the each templatebox */
.grid .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  /* animation: zoomer 1s; */
}
.topBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5em 1em;
}
.topBox .topHeader {
  /* background-color: pink; */
}
.topHeader > span {
  font-size: 19px;
  line-height: 25px;
}
.topBox .description {
  padding: 0.6em 0 1.5em;
}
.description > span {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #3f3e3e;
}
.description .category {
  padding-top: 10px;
}
.category > span {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #3f3e3e;
}

/* design for footer of each box */
.footerBox {
  background-color: #f9f9f9;
  padding: 0.5em 1em;
  justify-content: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.footerBox > span {
  color: #08bd37;
  font-size: 12px;
  font-weight: lighter;
  line-height: 18px;
}

.grid > div {
  background-color: #fff;
  border-radius: 2px;
}
.grid > div:nth-child(odd) {
  background-color: #fff;
}
/*grid design ends*/

/* pagination design starts */
.paginationDiv {
  padding: 2.5em 1em;
}
.paginateContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
}

.prev {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.numbers {
  flex: 1;
  text-align: center;
  justify-content: center;
}
.next {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content span,
.numbers span {
  color: #3f3f3f;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.numbers span {
  font-size: 13px;
  cursor: context-menu;
}
span.active {
  padding: 4px 8px;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}
/* pagination design ends */

/* keyframe for boxes  for animation*/
@keyframes zoomer {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* media query begins here */
@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .headerTitle > span:nth-child(1) {
    font-size: 14px;
  }
  .paginationDiv {
    padding: 1em 1em;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
  .paginateContainer {
    padding-inline: 0;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
